@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/*--------------------------------ハンバーガーメニュー-------------------------------*/
.nav {
  position: absolute;
  height: 130vh;
  width: 69vw;
  left: -110vw;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-wrap {
  padding: 36px 50px;
  margin: 0 auto;
  text-align: center;
}

.nav-wrap__link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 14px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-wrap li {
  margin-top: 60px;
}

.hamburger {
  display: block;
  position: absolute;
  right: 40px;
  width: 30px;
  top: 40px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.hamburger__line1 {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: black;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
  top: 6px;
}

.hamburger__line2 {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: black;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
  bottom: 0px;
}

.line_2 {
  -webkit-transform: translateY(-1px) rotate(45deg);
          transform: translateY(-1px) rotate(45deg);
}

.line_3 {
  -webkit-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
  bottom: 0;
}

.in {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

/*----------------------------ハンバーガーメニューここまで-----------------------------------------*/
.logo {
  width: 182px;
  margin-top: 30px;
}

header {
  padding: 24px 35px;
  position: relative;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.section-title {
  margin-top: 65px;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 30px;
  display: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.products__list {
  width: 47%;
  margin-bottom: 40px;
}

.products__title {
  font-size: 12px;
  margin-top: 12px;
  line-height: 1.5em;
}

.products__price {
  font-size: 12px;
  line-height: 1.5em;
}

.more-view {
  text-align: center;
  font-size: 14px;
}

.pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55px;
  margin: 0 auto;
}

.pagenation__link {
  font-size: 14px;
}

.sns {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sns__instagram, .sns__twitter, .sns__facebook {
  font-size: 12px;
}

.sns__twitter, .sns__facebook {
  margin-left: 25px;
}

footer p {
  font-size: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  header {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .logo {
    margin-top: 0;
  }
  .products__list {
    width: 23%;
  }
}
